.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination span {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination span.active {
  cursor: default;
}
.pagination span:active {
  outline: none;
}
.modal-5 {
  position: relative;
}
.modal-5:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--theme-bg-color);
}
.modal-5 span {
  color: #666;
  padding: 13px 5px 5px;
  margin: 0 10px;
  position: relative;
}
.modal-5 span:hover {
  color: #fff;
}
.modal-5 span.next,
.modal-5 span.prev {
  color: #5fce65;
}
.modal-5 span.next:hover,
.modal-5 span.prev:hover {
  color: #fff;
}
.modal-5 span.next:hover:after,
.modal-5 span.prev:hover:after {
  display: none;
}
.modal-5 span.active {
  background: #5fce65;
  color: #fff;
}
.modal-5 span.active:before {
  content: "";
  position: absolute;
  top: -11px;
  left: -10px;
  width: 18px;
  border: 10px solid transparent;
  border-bottom: 7px solid #5fce65;
  z-index: -1;
}
.modal-5 span.active:hover:after {
  display: none;
}
